@charset "UTF-8";

:root {
    --cor0: #2C2645;
    --cor1: #B085F5;
    --cor2: #AB5FBC;
    --cor3: #F4E8FF;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    margin-top: auto;
    text-align: center;
    background-color: var(--cor2);
    padding: 50px;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.83);
}

body {
    background-color: var(--cor3);
}

main {
    min-width: 300px;
    max-width: 50px;
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.408);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav > a {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: white;
    text-decoration: none;
    margin: auto;
    padding: 10px;
    background-color: var(--cor0);
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.414);
}

nav > a:hover {
    color: var(--cor0);
    background-color: var(--cor3);
    transition-duration: 0.5s;
}

picture > img {
    padding-right: 48px;
    padding-bottom: 36px;
    padding-top: 23px;
    max-width: 298px;

}

p {
    text-align: center;
    padding: 10px;
}

.botao {
    color: var(--cor0);
    text-shadow: 0.2px 1px 1px rgba(0, 0, 0, 0.527);
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
}

.botao:hover {
    color: white;
    background-color: var(--cor1);
}

.email {
    width: 220px
}

.nome {
    width: 220px
}

.msg {
    padding: 12px;
}

footer {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.534);
    background-color: #B085F5;
}